# Core FastAPI and Database
fastapi[standard]
sqlalchemy
psycopg2-binary
python-dotenv


# Vector Database & AI
pinecone
llama-index              # For embeddings and indexing
huggingface_hub          # Hugging Face API client
numpy                    # Vector operations
pydantic
#sentence-transformers  # Only if you want to run locally instead of HF API

# Async support
asyncio